archetypes/expression-language/src/main/resources/archetype-resources/src/test/resources/mule-config.xml
#set($D='$')
#set($moduleNameLower = "${muleModuleName.toLowerCase()}")
#set($moduleGroupIdPath = $groupId.replace(".", "/"))
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="testFlow">
        <message-properties-transformer>
            <add-message-property key="test1" value="#[${moduleNameLower}:Hello World!"/>
        </message-properties-transformer>
    </flow>

</mule>
