integration-tests/it/collection-integration-test/src/test/resources/collection.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Development Kit
    Copyright 2010-2011 (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:collection="http://www.mulesoft.org/schema/mule/collection"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/collection http://www.mulesoft.org/schema/mule/collection/1.0/mule-collection.xsd">

    <spring:bean id="objectA" class="java.lang.String">
        <spring:constructor-arg value="ObjectA"/>
    </spring:bean>

    <spring:bean id="objectB" class="java.lang.String">
        <spring:constructor-arg value="ObjectB"/>
    </spring:bean>

    <collection:config name="configA">
        <collection:strings>
            <collection:string>#[string:MuleSoft]</collection:string>
            <collection:string>FTW</collection:string>
        </collection:strings>
    </collection:config>

    <collection:config name="configB">
        <collection:items>
            <collection:item value-ref="objectA"/>
            <collection:item value-ref="objectB"/>
        </collection:items>
    </collection:config>

    <collection:config name="configC">
        <collection:map-strings>
            <collection:map-string key="a">#[string:MuleSoft]</collection:map-string>
            <collection:map-string key="b">FTW</collection:map-string>
        </collection:map-strings>
    </collection:config>

    <collection:config name="configD">
        <collection:map-items>
            <collection:map-item key-ref="objectA" value-ref="objectA"/>
            <collection:map-item key-ref="objectB" value-ref="objectB"/>
        </collection:map-items>
    </collection:config>

    <flow name="flowList">
        <collection:count-list-of-strings config-ref="configA">
            <collection:strings>
                <collection:string>mulesoft</collection:string>
                <collection:string>ftw</collection:string>
            </collection:strings>
        </collection:count-list-of-strings>
    </flow>

    <flow name="flowConfigStrings">
        <collection:count-config-strings config-ref="configA"/>
    </flow>

    <flow name="flowConfigItems">
        <collection:count-config-items config-ref="configB"/>
    </flow>

    <flow name="flowMap">
        <collection:count-map-of-strings config-ref="configC">
            <collection:map-strings>
                <collection:map-string key="a">mulesoft</collection:map-string>
                <collection:map-string key="b">ftw</collection:map-string>
            </collection:map-strings>
        </collection:count-map-of-strings>
    </flow>

    <flow name="flowConfigMapStrings">
        <collection:count-config-map-strings config-ref="configC"/>
    </flow>

    <flow name="flowConfigMapItems">
        <collection:append-config-map-items config-ref="configD"/>
    </flow>

    <flow name="flowHasFirstName">
        <collection:has-first-name config-ref="configC">
            <collection:properties>
                <FirstName>Emiliano</FirstName>
                <LastName>Lesende</LastName>
            </collection:properties>
        </collection:has-first-name>
    </flow>

</mule>
