integration-tests/it/connector-integration-test/src/test/resources/connector.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Development Kit
    Copyright 2010-2011 (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:connector="http://www.mulesoft.org/schema/mule/connector"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/connector http://www.mulesoft.org/schema/mule/connector/current/mule-connector.xsd">

    <connector:config name="configA" username="mulesoft" password="muleion">
        <connector:connection-pooling-profile maxActive="10" maxIdle="10"
                                              exhaustedAction="WHEN_EXHAUSTED_GROW" maxWait="120"/>
    </connector:config>

    <connector:config name="configB" username="mulesoft" password="muleion">
        <connector:connection-pooling-profile maxActive="10" maxIdle="10"
                                              exhaustedAction="WHEN_EXHAUSTED_GROW" maxWait="120"/>
    </connector:config>

    <flow name="testSession">
        <connector:verify-session config-ref="configB"/>
    </flow>

    <flow name="testGetSessionId">
        <connector:get-session-id config-ref="configB"/>
    </flow>

    <flow name="testInvalidateSessionOnException">
        <connector:invalidate-connection-on-exception config-ref="configB"/>
    </flow>

    <flow name="testInvalidateConnectionUntilThirdRetry">
        <connector:invalidate-connection-until-third-retry config-ref="configB"/>
    </flow>

    <flow name="testSessionWithCredentials">
        <connector:verify-session username="#[map-payload:username]" password="#[map-payload:password]"
                                  config-ref="configB"/>
    </flow>

    <flow name="testSessionWithUsername">
        <connector:get-username username="#[map-payload:username]" config-ref="configB"/>
    </flow>

    <flow name="testSessionWithPassword">
        <connector:get-password password="#[map-payload:password]" config-ref="configB"/>
    </flow>

    <flow name="testStream">
        <connector:stream config-ref="configA"/>
        <connector:verify-session config-ref="configA"/>
    </flow>

</mule>
